flows.json
[{"id":"6c9fd09d1a1b1867","type":"tab","label":"API Demo","disabled":false,"info":"","env":[]},{"id":"3deb4f214f03d842","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"82643a97604b58a9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"64f8daf738f0a70a","type":"ui_group","name":"Chuck Norris API","tab":"3deb4f214f03d842","order":1,"disp":true,"width":"16","collapse":false},{"id":"20032496cf063a24","type":"http request","z":"6c9fd09d1a1b1867","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.chucknorris.io/jokes/random","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":410,"y":120,"wires":[["7bc960a4acfc2b8f"]]},{"id":"105daf6ab3ee77c7","type":"ui_button","z":"6c9fd09d1a1b1867","name":"","group":"64f8daf738f0a70a","order":0,"width":0,"height":0,"passthru":false,"label":"Get joke","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":120,"wires":[["20032496cf063a24"]]},{"id":"ab69872b1d77d5fc","type":"ui_text","z":"6c9fd09d1a1b1867","group":"64f8daf738f0a70a","order":1,"width":0,"height":0,"name":"","label":"Joke","format":"{{msg.joke}}","layout":"row-spread","x":730,"y":120,"wires":[]},{"id":"7bc960a4acfc2b8f","type":"function","z":"6c9fd09d1a1b1867","name":"","func":"msg.joke = msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":120,"wires":[["ab69872b1d77d5fc"]]},{"id":"6e29bcfd16d9d315","type":"http in","z":"6c9fd09d1a1b1867","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":220,"y":240,"wires":[["6ac56626acfc5b22","4f514bf8597d8712"]]},{"id":"4f514bf8597d8712","type":"function","z":"6c9fd09d1a1b1867","name":"","func":"let response = `The client sent: ${msg.payload.message}`;\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["bbc36b0e3e18c654"]]},{"id":"bbc36b0e3e18c654","type":"http response","z":"6c9fd09d1a1b1867","name":"","statusCode":"","headers":{},"x":610,"y":240,"wires":[]},{"id":"6ac56626acfc5b22","type":"debug","z":"6c9fd09d1a1b1867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":320,"wires":[]}]